<div class="home-container">
    <section class="home-section">
        <div class="container text-center">
          <div class="row d-flex align-items-center">
            <div class="col-md-6">
              <img src="https://m.media-amazon.com/images/I/51GnhkZXeYL._AC_UF1000,1000_QL80_.jpg" style="width: 100%;" alt="">
            </div>
            <div class="col-md-6">
            <i> <h2 style="font-family:cursive;">Welcome to Our Flower and Gift Store</h2></i>
              <p >Find the perfect flowers and gifts to delight your loved ones at our store. Choose from a curated selection of exquisite blooms and thoughtful presents to make every occasion extra special.</p>
              <button class="btn btn-primary btn-lg" (click)="onShop()">Shop Now</button>
            </div>
          </div>
        </div>
      </section>
    <app-footer></app-footer>
</div>
